<div align="center">

<h2>USER PAGE</h2>
        

        <a routerLink="/userById" class="btn btn-primary " role="button"  style="font-size: 20px" routerLinkActive="active">Search Users</a >
         
       <br><br>

          <a routerLink="/vehiById" class="btn btn-primary " role="button" style="font-size: 20px" routerLinkActive="active">Search Vehicle Information</a>
         
         
        <br><br>


          <a routerLink="/loanById" class="btn btn-primary " role="button" style="font-size: 20px" routerLinkActive="active">Search Policy Information</a>
         
        <br><br>
        
          <a class="btn btn-warning" href="">Back to Home</a> 
     
      
    <br><br>
   <nav class="navbar navbar-expand-sm bg-pink navbar-dark">
    <img src="../assets/img/adminhome1jpg.jpeg" width="1600px" height="400px" />
   </nav>
    <router-outlet></router-outlet>
    </div>
  
      