
    <div><h2 align = "center">Welcome you are at right place!!!</h2>
    <br>
    


      <a routerLink="/login"  class="btn btn-primary " role="button" style="font-size: 25px;" routerLinkActive="active">Login as User</a>

<br><br>

    
   
      <a routerLink="/admins" class="btn btn-primary" role="button" style="font-size: 25px;" routerLinkActive="active">Login as Admin</a>

 <br>


<div><router-outlet></router-outlet></div>

<nav class="navbar navbar-expand-sm bg-dark-blue navbar-dark">
  <div class="col-md-4">
  
  <img src="../assets/img/Vehicle.jpeg" width="1500px" height="400px" />
  <!--<img src="../assets/images/loan.png" weight="600" height="600"/>-->
  

</div>
</nav>
</div>
     
