<div><h2> ADMIN PAGE</h2></div>
<br>
<div>
  
        <a routerLink="/users" class="btn btn-primary" role="button" style="font-size: 20px;" routerLinkActive="active">List of Users</a>
      &nbsp;
       
        <a routerLink="/userById" class="btn btn-primary " role="button" style="font-size: 20px;" routerLinkActive="active">Search Users</a>
        &nbsp;

          <a routerLink="/addUsers" class="btn btn-primary " role="button" style="font-size: 20px;" routerLinkActive="active">Add New User</a>
          &nbsp;

          <a routerLink="/vehiList" class="btn btn-primary " role="button" style="font-size: 20px;" routerLinkActive="active">Vehicle Information</a>
          &nbsp;
        
          <a routerLink="/vehiById" class="btn btn-primary " role="button" style="font-size: 20px;" routerLinkActive="active">Search Vehicle Information</a>
         
          &nbsp;

          <a routerLink="/loanList" class="btn btn-primary " role="button"style="font-size: 20px;" routerLinkActive="active">Loan Information</a>
         
          &nbsp;
      
          <a routerLink="/loanById" class="btn btn-primary " role="button"style="font-size: 20px ;" routerLinkActive="active">Search Loan Information</a>
         
          &nbsp;
      
          <a routerLink="/addLoan" class="btn btn-primary " role="button"style="font-size: 20px;" routerLinkActive="active">Add Loan</a>
         
          &nbsp;

          <a routerLink="/addDoc" class="btn btn-primary " role="button"style="font-size: 20px;" routerLinkActive="active">Add Documents</a>
         
          &nbsp;

          <a routerLink="/docList" class="btn btn-primary " role="button"style="font-size: 20px;" routerLinkActive="active">List of Documents</a>
         
          &nbsp;

          <a routerLink="/docById" class="btn btn-primary " role="button"style="font-size: 20px;" routerLinkActive="active">Search of Documents</a>
         
        <br><br>
    <a class="btn btn-warning" href="">Back to Home</a> <br><br>
  <img src="../assets/img/adminhome1jpg.jpeg" width="1500px" height="500px" />
    
    <router-outlet></router-outlet>
</div>
  
