

<div >
    <input type="text" [(ngModel)]="loanId" size="20"   placeholder="Loan Id"/>
    <button (click)="onSearch()" >Search</button>   
    <div *ngIf="notFound">Policy Not  found</div>
</div>

<div align="center">

<h3 class="p-3 text-center">Policy Record : </h3>

<div>
    
     <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>LOAN_ID</th>
                <th>ADM_ID</th>
                 <th>LOAN_AMT</th>   
                <th>EMI</th> 
                 <th>PERIOD</th> 
                 <th>START_DATE</th>
                 <th>END_DATE</th>

            </tr>
        </thead>
        <tbody>
              <tr>              
                <td> {{loanObj.loanId}} </td>
                <td> {{loanObj.admId}} </td>
                 <td> {{loanObj.loanAmt}} </td>  
                <td> {{loanObj.emi}} </td>
                <!-- <td> {{loanObj.loanPeriod}} </td>   -->
                <td> {{loanObj.startDate}} </td>
                <td> {{loanObj.endDate}} </td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <a class="btn btn-warning" href="/user-list">Back to Main Page</a>  
    <br><br>
</div>
</div>

